body {
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
    display: block;
    padding: 10px;
    background-color: aquamarine;
    color: black;
    text-decoration: none;
    width: 20%;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a:hover {
    color: black;
    background-color: bisque;
    text-decoration: underline;

}

.card {
    border: thin solid black;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
    width: 25%;
    text-align: justify;
}

.row {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap; /*This makes it possible to adjust depending on screen. */
    flex-flow: row wrap; /*This combines the flex direction and flex wrap.*/
    justify-content: space-evenly; /*there's space-between, space something go explore.*/

}

p { padding: 0px 10px 1px 10px;

}

.mainthing {
    order: -1;
}