body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

header {
    background-color: chartreuse;
    color: black;
}

header h1 {
    margin: 0;
}

main h2 {
    margin:0;
}

article {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    display:none ;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: blueviolet;
    color: black;
    border-radius: 15px;
}

nav a:hover {
    background-color: white;
    color: black;
}

.main-row {
    display: flex;
}

.sidebar {
    width: 200px;
}

.sidebar h3 {
    margin: 0;
}

.card {
    border: thin solid black;
    box-shadow: 3px 3px 5px rgba(200,200,200,0.6);
    width: 300px;
    margin: 5px;
}

.card img {
    width: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;
}