body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

header {
    background-color: chartreuse;
    color: black;
}

header h1 {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

main h2 {
    margin:0;
}


nav {
    display:flex ;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: darkblue;
    padding: 10px;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: blueviolet;
    color: black;
    border-radius: 15px;
}

nav a:hover {
    background-color: white;
    color: black;
}

.main-row {
    display: flex;
}

.sidebar {
    width: 200px;
}

.sidebar h3 {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;

}

.sidebar p {
    margin: 0;
    padding: 10px;
}

.card {
    border: thin solid black;
    box-shadow: 3px 3px 5px rgba(200,200,200,0.6);
    width: 300px;
    margin: 5px;
}

.card img {
    width: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

@media ONLY screen AND (max-width:600px) {

}


@media ONLY screen AND (max-width: 550px) {
    nav {
        flex-direction: column;
    }

    .main-row {
        flex-direction: column-reverse; /* used to put the side bar below the cards*/
    }

    .sidebar {
        width: 100%; /*used to make the sidebar to use all the spaces for it.*/
    }

    .main-card {
        order: -1;
    }
}