
body{
    background-image: url(/projects/project3/blue-material-background.jpg) ;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    position: relative;
}


header img {
    position: relative;
    margin-left: 20pt;
    z-index: 2;
    height: 100pt;
    width: auto;

}

header nav {
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    padding: 25px 40px;
    
}

.navigation {
    margin: 30pt;
    font-size: 15pt;
    margin-right: -10pt;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;

} 

.navigation:hover {
    background-color: gray;
    border-radius: 20pt;

}

.navigation.active{
    background-color: rgb(110, 115, 255);
    color: black;
    border-radius: 20pt;
    padding: 10pt;

}

.title {
    font-size: 100pt;
    font-weight:bolder ;
    z-index: 2; 
    text-align: center;
    color: white;
    margin-top: -5pt;
    margin-bottom: 40pt;

}


.introduction {
    font-size: 20pt;
    text-align: right;
    position: relative;
    text-align: justify;
    color: white;
    bottom: 50pt;
    padding: 0 100pt 0 100pt;


}

.places {
    text-align: center;
    font-size: 30pt;
    color: white;

}

.images {
    display: block;
    margin: 0 auto;
    margin-top: 10px;

}

.list {
    list-style-image: url(cp.ico);
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: white;
    text-align: center;
}