body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0 ;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    background-color: black;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 45px;
    color: white;
    text-align: center;
}
nav {
    display: flex;
    text-align: center;
    background-color: rgb(59, 56, 56);
    justify-content: space-evenly;
    padding: 15px;   
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.maincontainer {
    display: flex;
    margin: 0;
    padding: 0;

}

.leftside {
    margin: 20px 30px 20px 30px;
}

.capt {
    justify-content: center;
    font-size: 20px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.wholetable {
    border: thick solid black;
    border-spacing: 0;
    text-align: center;
    padding: 5px;
    margin: 10px;
     
}


thead th {
    border: thick solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    background-color: rgb(12, 12, 127) ;
    color: white;
}

tbody td {
    border: thin solid black;
    padding: 5px 20px 5px ;
}

.ranking {
    background-color: rgb(255, 200, 0);
}

.negative {
    color: red;
}

.positive {
    color: darkblue;
}

.color1{
    background-color:rgb(255, 200, 0) ;
}

.color2{
    background-color:rgb(245, 195, 10) ;
}

.color3{
    background-color:rgb(235, 190, 20) ;
}

.color4{
    background-color:rgb(225, 185, 30) ;
}

.color5{
    background-color:rgb(215, 180, 40) ;
}

.color6{
    background-color:rgb(205, 175, 50) ;
}

.color7{
    background-color:rgb(195, 170, 60) ;
}

.color8{
    background-color:rgb(185, 165, 70) ;
}

.color9{
    background-color:rgb(175, 160, 80) ;
}

.color10{
    background-color:rgb(165, 155, 90) ;
}


.ranking {
    border: thin solid black;
    border-spacing: 5px;
    text-align: center;
    padding: 10px;
} 


.rightside {
    display: flex;
    flex-flow: row wrap;
    width: 40%;
    margin: auto;
    background-color: azure;
    border: thin dotted black;
}

.title {
    background-color: black;
    margin: auto;
    width: 100%;
    text-align:auto;
}

.title h1 {
    color: white;
    margin: auto;
    text-align: center;
}

.background {
    text-align: justify;
    margin: 0;
    padding: 20px;
} 

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 15px;
}