body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(2, 2, 59);
    color: white;
}

header {
    background-color: darkcyan;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    background-color: rgb(77, 77, 77);
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

nav a{
    text-decoration: none;
    color: black;
    background-color: rgb(158, 158, 31);
    padding: 10px 15px;
    border: thin solid black;
    border-radius: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a:hover {
    background-color: rgb(67, 67, 6);
    color: white;
}


.family {
    display: flex;    
}

.description {
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    width: 20%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.description h2 {
    text-align: center;
    margin: 10px;
    background-color: black;
    border: thick solid white;
    padding: 10px;
}

.description p {
    text-align: justify;
    padding: 5px 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 40px 20px 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    border: thick solid white;
    flex-wrap: wrap;
    background-color: azure;
    color: black;
}

.cards h2 {
    text-align: center;
}

.cards p {
    text-align: center;
}

.links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

/*.family {
    display: flex;
    flex-wrap: wrap;
}

.description {
    display: flex;
    background-color: darkcyan;
    width: 20%;
    flex-direction: column;
    align-items: center;
}

.description p {
    text-align: justify;
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

.cards img {
    width: 100%;
}
.cards {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    border: thin solid black;
    align-items: flex-start;
    margin: 5px;
    
}
*/

